<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>20160830_week3_hw_mailbox_SL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C7993A41D76428D0000CB31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C7993B81D76428D0000CB31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C7993C31D76428D0000CB31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
